mainmenu "meta-erlang Image Configuration"

config KAS_BUILD_SYSTEM
	string
	default "openembedded"

menuconfig BEAMTOOLS
        bool "Beamtools"
        help
          Help.

menu "Machine"

choice
	prompt "Machine"
	default MACHINE_QEMUX86_64

config MACHINE_QEMUX86_64
	bool "Use qemux86-64"
	help
	  Help.

config MACHINE_QEMUX86
	bool "Use qemux86"
	help
	  Help.
endchoice

endmenu

menu "Init management system"

choice
	prompt "systemv"
	default WITH_SYSTEMD

config WITH_SYSTEMV
	bool "Use systemv"
	help
	  Help.

config WITH_SYSTEMD
	bool "Use systemd"
	help
	  Help.

endchoice

endmenu

if ! IMAGES

menu "Erlang Version"

choice
	prompt "Erlang/OTP version"
	default ERLANG_MAINT_27

config ERLANG_MASTER
	bool "Use Erlang master"
	help
	  Help.

config ERLANG_MAINT_27
	bool "Use Erlang 27"
	help
	  Help.

config ERLANG_MAINT_26
	bool "Use Erlang 26"
	help
	  Help.

config ERLANG_MAINT_25
	bool "Use Erlang 25"
	help
	  Help.

endchoice

endmenu

menu "Elixir Version"

choice
	prompt "Elixir version"
	default ELIXIR_1_16

config ELIXIR_1_16
        bool "Use Elixir 1.16.x"
        help
          Help.

config ELIXIR_1_15
        bool "Use Elixir 1.15.x"
        help
          Help.

config ELIXIR_1_14
        bool "Use Elixir 1.14.x"
        help
          Help.

config ELIXIR_1_13
        bool "Use Elixir 1.13.x"
        help
          Help.

endchoice
      
endmenu

endif # ! IMAGES

menuconfig IMAGES
       bool "Images"
       help
         Help.

if IMAGES

config TARGET_PTEST_IMAGE
        bool "Image with ptest packages"
        help
          Help.

config KAS_INCLUDE_PTEST_IMAGE
        string
        default "core-image-minimal-ptest.yml" if TARGET_PTEST_IMAGE

config TARGET_LOCAL_IMAGE
        bool "Local development image"
        help
          Help.

config KAS_INCLUDE_LOCAL_IMAGE
        string
        default "core-image-minimal.yml" if TARGET_LOCAL_IMAGE


config TARGET_ERLANG_ELIXIR_IMAGE
        bool "Erlang and Elixir"
        help
          Help.

config KAS_TARGET_ERLANG_ELIXIR_IMAGE
        string
        depends on TARGET_ERLANG_ELIXIR_IMAGE
        default "multiconfig:qemux86-64-erlang-elixir:core-image-minimal"

config TARGET_WINGS_IMAGE
        bool "wings"
        help
          Help.

config KAS_TARGET_WINGS_IMAGE
        string
        depends on TARGET_WINGS_IMAGE
        default "multiconfig:qemux86-64-wings:core-image-sato multiconfig:qemux86-64-wings:core-image-x11"

config TARGET_LIVEBOOK_IMAGE
        bool "livebook"
        help
          Help.

config KAS_TARGET_LIVEBOOK_IMAGE
        string
        depends on TARGET_LIVEBOOK_IMAGE
        default "multiconfig:qemux86-64-livebook:livebook-image"

config TARGET_RABBITMQ_IMAGE
        bool "rabbitmq"
        help
          Help.

config KAS_TARGET_RABBITMQ_IMAGE
        string
        depends on TARGET_RABBITMQ_IMAGE
        default "multiconfig:qemux86-64-rabbitmq:core-image-minimal"

config TARGET_EJABBERD_IMAGE
        bool "ejabberd"
        help
          Help.

config KAS_TARGET_EJABBERD_IMAGE
        string
        depends on TARGET_EJABBERD_IMAGE
        default "multiconfig:qemux86-64-ejabberd:core-image-minimal"

config TARGET_VERNEMQ_IMAGE
        bool "vernemq"
        help
          Help.

config KAS_TARGET_VERNEMQ_IMAGE
        string
        depends on TARGET_VERNEMQ_IMAGE
        default "multiconfig:qemux86-64-vernemq:core-image-minimal"

config TARGET_COUCHDB_IMAGE
        bool "couchdb"
        help
          Help.

config KAS_TARGET_COUCHDB_IMAGE
        string
        depends on TARGET_COUCHDB_IMAGE
        default "multiconfig:qemux86-64-couchdb:core-image-minimal"

config TARGET_RIAK_IMAGE
        bool "riak"
        help
          Help.

config KAS_TARGET_RIAK_IMAGE
        string
        depends on TARGET_RIAK_IMAGE
        default "multiconfig:qemux86-64-riak:core-image-minimal"

config TARGET_YAWS_IMAGE
        bool "yaws"
        help
          Help.

config KAS_TARGET_YAWS_IMAGE
        string
        depends on TARGET_YAWS_IMAGE
        default "multiconfig:qemux86-64-yaws:core-image-minimal"

endif # IMAGES

config KAS_INCLUDE_MAIN
	string
	default "base.yml"

config KAS_INCLUDE_RELEASE
	string
	default "release.yml"

config KAS_INCLUDE_MACHINE
	string
	default "qemux86-64.yml" if MACHINE_QEMUX86_64
	default "qemux86.yml" if MACHINE_QEMUX86

if ! IMAGES

config KAS_INCLUDE_ERLANG
	string
	default "erlang-maint-25.yml" if ERLANG_MAINT_25
	default "erlang-maint-26.yml" if ERLANG_MAINT_26
	default "erlang-maint-27.yml" if ERLANG_MAINT_27

config KAS_INCLUDE_ELIXIR
	string
	default "elixir-1.16.yml" if ELIXIR_1_16
	default "elixir-1.15.yml" if ELIXIR_1_15
	default "elixir-1.14.yml" if ELIXIR_1_14
	default "elixir-1.13.yml" if ELIXIR_1_13


endif

config KAS_INCLUDE_INIT
	string
	default "systemd.yml" if WITH_SYSTEMD
	default "systemv.yml" if WITH_SYSTEMV

if BEAMTOOLS

config KAS_INCLUDE_BEAMTOOLS
        string
        default "beamtools.yml"

endif
